<script type="text/javascript">
	flag = false

	$(function() {
		act = "on"

		$("#wait").click(function() {
			if(flag) return
			
			flag = true

			$("#wait").val("Ожидайте")
			console.log("/ajax/setwait?act=" + act + "&book=" + {{args[0].id}})
			$.ajax({
			  dataType: "json",
			  url: "/ajax/setwait?act=" + act + "&book=" + {{args[0].id}},
			  data: { comment: $("#wait-comment").val().replace(/\n/g, "<br>") },
			  success: function(data) {
			  	if(data["status"] == "OK") {
			  		$("#wait").val("Ждем в библиотеке")
			  	} else if(data["status"] == "Again") {
			  		$("#wait").val("Уже есть!")
			  	} else {
			  		$("#wait").val("Ошибка!")
			  	}
			  }
			});
		});
	});
</script>

{% if(args[1]["is"]) %}
<div class="left-topic" style="text-align: center;">	
	<img src="{{args[1]['path']}}" style="width: 100%;" height="300" />
</div>

{% endif %}

{% if(mode == 1 or mode == 2) %}
<div class="left-topic" style="border: none; text-align: center; margin-bottom: 60px;">
	<p>Пару слов и бронь</p>
	<textarea id="wait-comment"></textarea>
	<input type='submit' id='wait' value='Бронь' style='width: 100%;' />
</div>
{% endif %}