<div class="left-topic" style="border:none;">
	<ul class="left-menu">
		<li id="left-item-none"> <span> Регистрация </span> </li>
		<a href="/signup?t=pupil"><li style="border-right: 4px solid #000;"> <span> Ученик </span> </li></a>
		<a href="/signup?t=teacher"><li style="border-right: 4px solid #000;"> <span> Учитель </span> </li></a>

		<a href="/auth"><li> <span> Авторизация </span> </li></a>
		<a href="/about"><li> <span> О нас </span> </li></a>
	</ul>
</div>