<div class="left-topic" style="text-align: center;">
	{% if(user.role != "librarian") %}
	<br />
	<b>{{user.sur_name}} {{user.name}}</b>
	
	{% else %}

	<br />
	<b>Библиотекарь</b>

	{% endif %}
	<br />
	<p>Школа 1852 

		{% if(user.role == "pupil") %}
			<b>{{user.class_}} "{{user.number}}"</b>
		{% endif %}
	</p>

	<form action="/loginout" method="POST">
		<p><input value="Выйти" type="submit" /></p>
	</form>
</div>
