<div class="main-topic">
{{get("get_menu", [1])|safe}}

<form style="width: 100%; text-align: center;" action="" method="GET">
{{get("get_now_class") | safe}}
{{get("get_now_number") | safe}}

<br>
<input style="margin-top:10px;" type="submit" value="Применить фильтр">
</form>

<br />

{% for i in get("get_all_pupils") %}
	{% if(i == None) %}
		<p>Учеников этой группы еще нет в системе.</p>
	{% else %}
	<p>{{i[0]}}. {{i[1].sur_name if(i[1].sur_name != "") else "None"}} {{i[1].name if(i[1].name != "") else "None"}} <a href="/user/{{i[1].scan}}">Подробнее</a> </p>
	{% endif %}
	
{% endfor %}

</div>