<h1>Авторизация</h1> 
<form action="login" method="POST">
	<p><input type="text" class="input-text" placeholder="Логин" name="login"></p>
	<p><input type="password" class="input-text" placeholder="Пароль" name="password"></p>
	<p><input value="Войти" type="submit" /></p>
	<p style = "color:red;">{{message}}</p>
</form>