<div class="main-topic">

	{{get("get_menu", [3])|safe}}

	<h1>Ваши действия</h1>

	<p>Мы определили три основных группы
пользователей: ученика и учителя.</p>
	<p>Для того, чтобы начать пользоваться электронной библиотекой, вам нужно пройти регистрацию и получить у пароль лично.</p>
	<p><b>Желаем успехов!</b></p>

<!-- Клинова Сабина -->
</div>