<!-- Отличное Хорошее Среднее Плохое Испорчена Ужасное -->
<div class="main-topic" style="text-align:center">	
		<h1 style="text-align:center; margin:10px 0">Книги </h1>
		<p>
			<form action="" method="GET">
				<input type="search" name="q" value="{{get('get_query')}}">
				<input type="submit" value="Найти" style="margin:0; padding:4px 7px; border-radius:0 10px 10px 0;">
			</form>
		</p>

		{% if(get("isset", [book_page]) != -1) %}
		<table style="margin-bottom: 20px;">
			<tr style="background: #EAEFFF;">
				<td>ID</td>
				<td>Книга</td>
				<td>Состояние</td>
				<td>Действие</td>
			</tr>

			{% for i in get("books", [book_page]) %}
				{% if(i == False) %}
					<tr>
						<td>Пусто</a></td>
						<td>Пусто</td>
						<td>Неизвестно</td>
						<td style="text-align: left;"></td>
					</tr>
				{% else %}
					<tr>
						<td>{{i.id}}</a></td>
						<td>{{i.title}}</td>
						<td>{{get("mark", [i.mark])}}</td>
						<td style="text-align: left;"> 
							<a class="book-link" href="/book/{{i.scan}}">
								<img width=40 heigth=40 src="/static/image/info.png" />
							</a>
						</td>
					</tr>
				{% endif %}
			{% endfor %}

		</table>
		
		{% if(get("get_pages") > 1) %}
			{% for i in range(1, get("get_pages") + 1) %}
				<a class="book-list {{'book-list-now' if(book_page == i) else ''}}" href="/books/{{i}}{{get('get_query', 'True')}}"> {{i}} </a>
			{% endfor %}
		{% endif %}

		{% else %}
			Sorry
		{% endif %}
</div>