<!-- Отличное Хорошее Среднее Плохое Испорчена Ужасное -->
<div class="main-topic" style="">	
		<h1 style="margin:10px 10px">Книга "{{args[0].title}}"</h1>

		<p><strong>Автор</strong> {{args[0].name_author}} {{args[0].middle_author}} {{args[0].sur_author}}</p>
		<p><strong>Год и издание</strong> {{args[0].years}} {{args[0].publisher_company}}</p>
		<p><strong>Состояние книги</strong> "{{get("mark", [args[0].mark])}}"
		<p><strong>Жанр</strong>  "{{args[0].category}}"</p>
		<br />
		<br />
		<p><strong>Описание</strong></p>
		<p>{{args[0].full_description}}</p>
		<p><b>Количество книг</b> <br> <b style="padding:20px; font-size: 60px;">{{args[0].count_books}}</b></p>
</div>