{% if(user.role == "pupil") %}

<div class="main-topic">

	{{get("get_menu", [0])|safe}}

	<table>
		<tr style="background: #EAEFFF;">
			<td>Книга</td>
			<td>Статус</td>
			<td>Комментарий</td>
		</tr>

		{% for i in get("get_my_books") %}
		
		<tr>
			{% if(i == None) %}
			<td>Здесь твоя книга</td>
			<td>Бронь / На руках</td>
			<td>Твой комментарий</td>
			{% else %}
			<td>{{i.b_id.title}}</td>
			<td>{{get("normalize_status", [i.status])}}</td>
			<td>{{i.comment | safe}}</td>
			{% endif %}
		</tr>
		
		{% endfor %}
	</table>
</div>

	{% elif(user.role == "teacher") %}
	
	<div class="main-topic">

	{{get("get_menu", [0])|safe}}

	{% for i in get("get_my_pupils") %}
		<p>{{i[0]}}. {{i[1].sur_name if(i[1].sur_name != "") else "None"}} {{i[1].name if(i[1].name != "") else "None"}} <a href="/user/{{i[1].scan}}">Подробнее</a> </p>
	{% endfor %}
	
	</div>

	{% elif(user.role == "librarian") %}

	<script src="./static/js/librarian.js"></script>
	<link href="{{url_for('static', filename='style/librarian.css')}}" rel="stylesheet" type="text/css" />


		<div id="scan">
			<div id="front"></div>
			<input id="scan-user" type="text" class="input-scan" />
			<div id="scan-text">Приложите штрихкод</div>
		</div>

		{{get("get_menu", [0]) | safe}}
		{{get("get_reservations") | safe}}
	</div>

	{% endif %}