<div class="main-topic">
{{get("get_menu", [2])|safe}}

{% for i in get("get_debtors") %}
	{% if(i == None) %}
		<p>Должников нет.</p>
	{% else %}
	<p>{{(i.p_id.sur_name + " " + i.p_id.name + 
	" <b>" + i.p_id.class_ + ' "' + i.p_id.number + "\"</b>") | safe}} <a href="/user/{{i.p_id.scan}}">Подробнее</a> </p>
	{% endif %}
	
{% endfor %}

</div>