<div class="main-topic">
	{% if(mode == 1) %}
		{{get("get_menu", [2])|safe}}
	{% elif(mode == 2) %}
		{{get("get_menu", [1])|safe}}
	{% endif %}

	{% if((mode >= 1) and (mode <= 3)) %}
	
	<form action="/ajax/sendmessage" method="POST">	

	    <input style="display: none;" name="from" value="{{user.id}}" type="text" class="input-text" />    
	    
	    <p>
	    	Тема:<br>
	    	<input name="topic" type="text" class="input-text" />    	
	    </p>

	    <p>
	        Сообщение:<br>
	        <textarea name="message" cols="35", rows="20"></textarea>
	    </p>

		<p><input type="submit" value="Добавить"></p>
		<br> 
		<p>
			{{["", "Отправлено", "Нет авторизации", "Нет темы!", "Нет сообщения!"][get("get_answer_message")]}}
		</p>
	</form>

	{% endif %}
</div>