<h1>Новая "Новость"</h1> 
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p>
        Заголовок:<br>
        {{form.title(class="input-text")}}<br>
    </p>
    
    <p>
        Новость:<br>
        {{form.text(cols="35", rows="20")}}<br>
    </p>

    <p><input type="submit" value="Добавить"></p>
</form>