<div class="main-topic">
	<h1> Этот уровень вам недоступен! </h1>

	<p>
		Попробуйте <a href="/signup?t=pupil">зарегистрироваться</a> или <a href="/auth">авторизоваться</a>. И тогда вы получите доступ к основной панели управления.
	</p>

	<p>
		Если вы уже это сделали, то скорее всего  данные функции вам недоступны. Обратитись к администрации сайта.
	</p>

	<p><small style="font-size:10px;">С уважением, Команда разрабочиков DL. <br /> Почта: inwady@gmail.com</small></p>
</div>