<div class="main-topic">
{{get("get_menu", [3])|safe}}

{% for i in get("get_message") %}
<p>
	{% if(i == None) %}
		<p>Пока сообщений нет!</p>
	{% else %}
	<hr>
	<div style="float: right; margin-right: 10px;">(<a href="/admin/delete_message?del={{i.id}}">Удалить</a>)</div>
	От кого: {{(i.from_pupil.sur_name + " " + i.from_pupil.name + 
	" <b>" + i.from_pupil.class_ + ' "' + i.from_pupil.number + "\"</b>") | safe}}<br />
	Тема: <b>{{i.topic}}</b><br />
	{{i.text}}<br />
	<small>{{i.time.strftime("%d-%m-%Y")}}</small><br />
	<hr>
	{% endif %}
</p>
{% endfor %}
</div>