<small>(сообщить только ученику)</small>
<h1>{{secret.sur_name + " " + secret.name}}</h1>
<p>{{secret.scan}}</p>

<br>


<p><b>Логин: <em style="font: 40px;">{{secret.uid}}</em><b></p>
<p><b>Пароль: <em style="font: 40px;">{{secret.password}}</em><b></p>

<p><a href="/user/all">Назад</a></p>

<p>Пожалуйста, учтите: <br />эта страница больше не покажется!</p>
