<h1>{{"Ученик" if (who == "pupil") else "Учитель"}}</h1> 
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    
    <p style="text-align: left; margin-top: 20px; margin-bottom: 20px;"><b>Основное:</b></p>

    <p>
        *Имя:<br>
        {{form.name(class="input-text")}}<br>
    </p>
    
    <p>
        *Фамилия:<br>
        {{form.last_name(class="input-text")}}<br>
    </p>

    <p>
        *Введите дату рождения:<br>
        Д. {{form.date_D(style="width:50px;", class="input-text")}}
        М. {{form.date_M(style="width:50px;", class="input-text")}}
        Г. {{form.date_Y(style="width:50px;", class="input-text")}}
        <br />
        <small style="font-size:12px;">(Информация закрытая)</small>
    </p>

    {% if(who == "teacher") %}    
    
        <p>
            *Введите должность:
            {{form.role(class="input-text")}}
            <br>
            <small style="font-size:12px; margin-top: 2px;">Пример: "Учитель биологии"</small>
        </p>

    {% endif %}
    
    <p>
        *Класс{{", который вы ведете:" if (teacher == "teacher") else ""}}:<br>
        {{form.select_class(class="input-select")}}<br>
    </p>

    <p>
        *Буква класса:<br>
        {{form.number_class(class="input-select")}}<br>
    </p>

    <p>
    	<p style="text-align: left; margin-top: 20px; margin-bottom: 20px;"><b>Дополнительно:</b></p>
	    <p>
	        Почта:<br>
	        {{form.email(class="input-text")}}<br>
	    </p>

	    <p>
	        Телефон:<br>
	        {{form.phone(class="input-text")}}<br>
	    </p>
	</p>

    <p><input type="submit" value="Регистрация"></p>
</form>