{% if(not one) %}

<div class="main-topic" style="text-align:center">	
		<p>
			<small style="color: red;">Если информация являеся правильной, то введите нужный ID. Внимание, важно! При ошибке срочно позвать администраторов.</small>
		</p>

		<h1 style="text-align:center; margin:10px 0">Пользователи</h1>
		<p>
			<form action="/admin/generate_password" method="POST">
				<input type="search" name="id" placeholder="ID">
				<input type="submit" value="Получить пароль" style="margin:0; padding:4px 7px; border-radius:0 10px 10px 0;">
			</form>
		</p>
		<table>
			<tr style="background: #EAEFFF;">
				<td>ID</td>
				<td>ФИ</td>
				<td>Порчта</td>
				<td>Телефон</td>
				<td>Класс</td>
			</tr>

			{% for i in users %}
			<tr>
				<td>{{i.id}}</td>
				<td>{{i.sur_name + " " + i.name}}</td>
				<td>{{i.email}}</td>
				<td>{{i.phone}}</td>
				<td>{{i.class_ + i.number}}</td>
			</tr>
			{% endfor %}
		</table>
</div>

{% else %}
{% if(mode == 3) %}
<script src="/static/js/pupil.js"></script>
<link href="{{url_for('static', filename='style/pupil.css')}}" rel="stylesheet" type="text/css" />
{% endif %}

<div class="main-topic" style="width: 60%; display: inline-block;">
<p>
{{user_.sur_name + " " + user_.name}}
<b>{{user_.class_}} "{{user_.number}}"</b>
</p>

{% if(user_.email != "") %}
	<p>{{user_.email}}</p>
{% else %}
	<p>Почта не указана!</p>
{% endif %}

{% if(user_.phone != "") %}
	<p>{{user_.phone}}</p>
{% else %}
	<p>Телефон не указан!</p>
{% endif %}


<table>
	<tr style="background: #EAEFFF;">
		<td>Книга</td>
		<td>Срок сдачи</td>
		<td>Состояние</td>
		{% if(mode == 3) %}
		<td>Действие</td>
		{% endif %}
	</tr>
	<br />
	<h1>То что на руках</h1>

	{% for i in books %}
	<tr>
		{% if(i == None) %}
			<td>Здесь книга</td>
			<td>Срок в днях</td>
			<td>Хор/плохо</td>
			<td>Любое</td>
		{% else %}

		<td>{{i[1].title}}</td>
		<td id="days-{{i[0]}}">
			{{get("get_day", [i[2]])}}
		</td>
		
		<td>
				{{i[1].mark}}
		</td>
			{% if(mode == 3) %}
			<td style="text-align: center;">
				<a class="link append-link" style="float: left;" href-link="{{i[0]}}">
					<img width=24 heigth=24 src="/static/image/add.png" />
				</a>
			    <a class="link change-link" style="float: left; margin-top: 2px;" href-link="{{i[0]}}">
					<img width=20 heigth=20 src="/static/image/calendar.png" />
				</a>
				<a class="link book-link" style="float: left; margin-top: 4px; margin-left: 5px;" href-link="{{i[0]}}">
					<img width=15 heigth=15 src="/static/image/delete.png" />
				</a>
			</td>
			{% endif %}
		{% endif %}
	</tr>
	{% endfor %}
</table>
<br />

<h1>То что забронировано</h1>

<table>
	<tr style="background: #EAEFFF;">
		<td>Книга</td>
		<td>Комментарий</td>
		<td>Время заявки</td>
		{% if(mode == 3) %}
		<td>Действие</td>
		{% endif %}
	</tr>
	<br />
	{% for i in book_reserv %}
	<tr>
		{% if(i == None) %}
			<td>Здесь книга</td>
			<td>Комментарий к брони</td>
			<td>Время подачи</td>
			<td>Любое</td>
		{% else %}

		<td>{{i[1].title}}</td>
		<td id="days-{{i[0]}}">
			{{i[3] | safe}}
		</td>
		
		<td>
			{{i[2]}}
		</td>
		{% if(mode == 3) %}
		<td style="text-align: center;">
			<a class="link to-link" style="float: left; margin-top: 4px; margin-left: 5px;" href-link="{{i[0]}}">
				<img width=15 heigth=15 src="/static/image/download.png" />
			</a>
			<a class="link book-link" style="float: left; margin-top: 4px; margin-left: 5px;" href-link="{{i[0]}}">
				<img width=15 heigth=15 src="/static/image/delete.png" />
			</a>
		</td>
		{% endif %}
		{% endif %}
	</tr>
	{% endfor %}
</table>

</div>

{% if(mode == 3) %}
<div id="group-scan">

</div>
{% endif %}

{% endif %}