<div class="main-topic">

	{{get("get_menu", [0])|safe}}

	<h1>Для чего?</h1>
	<p>Мы создали то, что поможет школе №1852 стать лучше!</p>
	<p>Был создан продукт, который поможет школьникам брать книги просто и доступно. Теперь каждый сможет посмотреть описание, количество оставшихся книг на одном сайте. Многим теперь не придется стоять в очереди за книжкой, которые хотят получить многие. Достаточно будет забронировать книгу и придти в библиотеку со своим личным штрих-кодом. Книгу уже будут ждать вас!</p>
	<p><b>Проект молодой, поэтому</b></p>
	<div style="margin-left:40px;">
		<form action="/ajax/feedback" method="POST">
			<h2>Оставьте отзыв, мнение, и свою идею здесь</h2>
			<textarea name="message"></textarea>
			<br><input style="margin-top: 10px;" type="submit" value="Отправить" />
		</form>
		<br>
		<p>
			{{["", "Отправлено", "", "", "Нет сообщения!"][get("get_answer_message")]}}
		</p>
	</div>

</div>
