<div class="main-topic">

{{get("get_menu", [1])|safe}}

<h1>Зачем?</h1>
<p>Библиотекарь – важный человек в школе.  Огромное число 
коммуникаций осуществляется через него. А если здоровье не
позволяет быть активным? Как быстро сбежать по лестнице  с
5-го этажа с нетерпящим отлагательств вопросом? Как  знать о
том, что происходит в школьном коллективе, если надо 
выпустить очередной номер школьной газеты? Как 
организованно сообщить классным руководителям о 
должниках?  Как вовремя подобрать нужные книги для 
учеников и для учителей, зная, что почти все всё делают в 
последний момент?  Все эти проблемы могла бы решить 
автоматизированная система школьной библиотеки.</p>

</div>