﻿#wrapper {
	margin: 0 auto;
	width: 100%;
	display: table;
}

body {
	font: 18px  sans-serif;
	background: #FFF;
	color: #222;
}

/* HEADER */

header {
	height: 50px;
	font: 24px  sans-serif;
	text-align: center;
	background: #fff;
	width: 100%;

}

li {
	list-style: none;
	padding: 0;
	margin: 0;
	color: #333333;
}

nav {
	margin-left: -50px;
}

.top-menu {
	float: left;
	margin-left: 20%;
	text-align: center;
}

.top-menu a {
	text-decoration: none;
	text-align: center;
	font: 20px  sans-serif;
	padding:0 10px;
	color:#444;


	text-decoration: underline;
	
}

.top-menu li {
	display: inline-block;
	border-right: 2px #ccc solid;

	cursor: pointer;
}

.top-menu li:last-child {
	border:none;
}


.logo {
	float:right;
	background: #FFF;
	width: 160px;
	height: 120px;
	/* TEST */ margin-bottom: -50px;
	font-family: cursive;
}

/* HEADER */

/* MAIN */

#main {
	display: inline-block;
	/* border: 1px #000 solid; */

	padding-bottom: 10px;

	width: 100%;
}

aside {
	float: left;
	width: 20%;

}

#content {
	width: 80%;
	float: right;
	background: #FEFEFE;

}

.left-menu {
	background-color: #FFF;
	width: 100%;

	margin: 0 auto;

	padding: 0;
}

.left-menu li {
	text-align: right;

	border-right: 4px solid #795548;
	
	padding: 0px;
	padding-top: 8px;
	padding-bottom: 8px;

	margin-top: 3px;
	margin-bottom: 3px;

	width:100%;

	cursor: pointer;
}

.left-menu li span {
	margin-right: 10px;
}

#left-item-none {
	border:none;
	font-style: bold;
	font-size: 20px;
	cursor: default;

	margin-top: 10px;
	margin-bottom: 10px;
}

#left-item-none:hover {
	background-color: #FFF;
}

.left-menu li:last-child {

}

.left-menu li:hover {
	/*
		padding-top: 12px;
		padding-bottom: 12px;
	*/
	background-color: #9E9E9E;
}

.sub-menu {
	width: 90%;
	margin: 15px;
	padding: 0;
	background: #EEE;

	display: block;

}

.sub-menu li{
	display: inline-block;
	font: 16px  sans-serif;
	font-family: cursive;
	padding:10px 10px;
	color:#444;
	cursor: pointer;
}


.sub-menu li:hover {
	background: #CCC;
}


.sub-menu ul {
	margin: 0;
	padding: 0;
}

h1 {
	font-family: cursive;
	font-size: 24px;
	color:#444;
	margin-left: 10px;
	text-align: left;
}

h2 {
	font-family: cursive;
	font-size: 18px;
	color:#444;
	font-weight: normal;
}

.main-topic p {
	margin-left: 20px;
}

.half-topic p {
	margin-left: 20px;
}

 textarea {
 	border-radius: 3px;
	width: 250px;
	height: 70px;
	border: 1px #CCC solid;
	resize: none;
}

.book-list {
	text-align: center;

	text-decoration: none;
	color: #3F51B5;

	background: #E3F2FD;
	margin-top: 20px;
	padding: 10px;
	padding-left: 13px;
}

.book-list:hover {
	background: #BBDEFB;
}

.book-list-now {
	background: #00BCD4;
}

/*********/

/* TOPICS */

#topics {
	width: 100%;
	margin: 0 auto;

	text-align: center;
	display: inline-block;
}

.left-topic {
	background-color: #FFF;
	width: 85%;
	margin: 0 auto;

	border: 1px #CCC solid;
	border-radius: 2px; 

	margin-top: 10px;

}

.main-topic {
	vertical-align: top;
	display:baseline;

	background-color: #FFF;
	width: 98.7%;
	margin: 0 auto;

	border: 1px #CCC solid;
	border-radius: 2px; 

	margin-top: 10px;

	min-height: 100px;

	padding-bottom: 10px;
}

.half-topic {
	float: left;
	display:inline-block;
	background-color: #FFF;
	width: 50%;
	margin: 0 auto;

	border: 0px #CCC solid;
	border-radius: 2px; 

	margin-top: 10px;

	min-height: 100px;

	padding-bottom: 10px;
}

/**********/

/*TABLE*/

table {
	border: 1px solid #FFF;
	border-collapse: collapse;
	width:90%;
	margin:0px auto;
	font-family: cursive;
	font-size: 18px;
	box-shadow: 0 0 5px #CCC;
}

td {
	margin: 0;
	width: 33%;
	height: 50px;
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: white;
	color: #678;
}

th {
	background: #C6D4F1;
	color: white;
	font-family: cursive;
	padding: 10px 20px;
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: white;
}

tr:nth-child(odd) {
	background: #EAEFFF;
}

tr:nth-child(even) {
	background: #FAFAFD;
}

tr:nth-child(0):hover {
	
}

tr:hover {
	background: #CFDDEF;
}

.link {
	margin: 0;
	padding: 0;
	
	display: inline-block;
	text-decoration: none;
}

.link:hover {
	cursor: pointer;
}

/********/