<html>
<head>

	<title>{{title}}</title>

	<link rel="stylesheet" href="/static/style/form.css" />
	<link rel="stylesheet" href="/static/style/input.css" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script type="text/javascript">
		$(function() {
			$("textarea").keydown(function(e) {
			    if(e.keyCode === 9) {
			        var start = this.selectionStart;
			        var end = this.selectionEnd;

			        var $this = $(this);
			        var value = $this.val();

			        $this.val(value.substring(0, start)
			                    + ""
			                    + value.substring(end));

			        this.selectionStart = this.selectionEnd = start;
			        e.preventDefault();
			    }
			});
		});
	</script>
</head>

<body>
	<div class="center">
		{% extends ("present/" + content) %}
	</div>
</body>

</html>